<div class="">
  <table>
    <tr>
      <td>Search By:</td>
      <td><select class="" ng-model="searchBy" ng-change="updateProductListFromSearch()">
        <option value="all">All</option>
        <option value="id">Product ID</option>
        <option value="productName">Product Name</option>
        <option value="productNumber">Product No.</option>
        <option value="upc">UPC Code</option>
      </select></td>
      <td><input type="text" placeholder="Search" ng-model="searchKey" ng-change="updateProductListFromSearch()"></td>
    </tr>
  </table>

  <table class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Product Name</th>
      <th>Product Number</th>
      <th>UPC Code</th>
      <th>Product Category</th>
      <th>Product Manufacturer</th>
      <th>Product Version</th>
      <th>Active Status</th>
      <th>Product Price</th>
      <th>Details</th>
    </tr>
    <tr ng-repeat="product in productList">
      <td width="20px">{{product.pk}}</td>
      <td width="100px">{{product.productName}}</td>
      <td width="100px">{{product.productNumber}}</td>
      <td width="160px">{{product.upc}}</td>
      <td width="100px">{{product.category}}</td>
      <td width="100px">{{product.manufacturer}}</td>
      <td width="100px">{{product.version}}</td>
     <td width="100px">{{product.activeState}}</td>
     <td width="100px">{{product.price}}</td>
     <td><a href="#!/addEditProduct"><button ng-click="details(product)">Details</button></a></td>
    </tr>
  </table>
</div>
